# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#other
*.ipch
*.lock
*.vsidx
*.rc
*.aps
*.suo
*.wsuo
*.db
*.pdb
*.tlog
.vs/cpp-py/v17/ipch/AutoPCH/6ebb8a77c3530257/CPP-PY.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
x64/Release/cpp-py.iobj
x64/Release/cpp-py.ipdb
x64/Release/cpp-py.log
x64/Release/cpp-py.pdb
x64/Release/cpp-py.tlog/CL.command.1.tlog
x64/Release/cpp-py.tlog/CL.read.1.tlog
x64/Release/cpp-py.tlog/CL.write.1.tlog
x64/Release/cpp-py.tlog/cpp-py.lastbuildstate
x64/Release/cpp-py.tlog/link.command.1.tlog
x64/Release/cpp-py.tlog/link.read.1.tlog
x64/Release/cpp-py.tlog/link.write.1.tlog
x64/Release/vc143.pdb
